@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .container-width {
        @apply mx-auto w-full max-w-[1024px];
    }
    body {
        @apply bg-[#0e1117] text-[#fafafa];
    }
    .markdown * {
        @apply my-3;
    }

    :root {
        --round: 0.25rem;
        --background: #020401;
        --foreground: #fafafa;
        --card: #09090b;
        --card-foreground: #fafafa;
        --popover: 240 10% 3.9%;
        --popover-foreground: #fafafa;
        --primary: #fafafa;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: #fafafa;
        --muted: #27272a;
        --muted-foreground: 240 5% 64.9%;
        --accent: #27272a;
        --accent-foreground: #fafafa;
        --destructive: #f75149;
        --destructive-foreground: #fafafa;
        --border: #9098a1;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}
